body {
  background-color: #001233;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* Image */

#dp {
  text-align: center;
  margin: auto;
  align-content: center;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 100px;
}

/* Image */
h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  color: #0466c8;
  margin: 50px auto;
}

h2:hover {
  color: white;
}

h3 {
  font-size: 2rem;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

span {
  font-size: 1.25rem;
}

hr {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border: 0.5px solid #33415c;
}

/* Education */

td {
  height: 150px;
  width: 1000px;
  font-size: 20px;
  text-align: center;
}

th {
  font-size: 30px;
  height: 100px;
}

table {
  margin: auto;
  margin-bottom: 100px;
}

/* Education */

/* Skills */
.python,
.css {
  padding-top: 5%;
  margin-bottom: 200px;
}

.p,
.c {
  float: left;
  margin-left: 100px;
}

.pt,
.ct {
  width: 40%;
  margin: auto;
}

.j,
.h {
  float: right;
}

.jt,
.ht {
  width: 40%;
  margin: auto;
}

.js,
.html {
  padding-top: 5%;
  margin-bottom: 200px;
}
/* Skills */

a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: azure;
}

/* Contact */

#contact > .icons > a > img {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.icons {
  margin: auto;
  text-align: center;
}

/* Contact */

/* Footer */

footer {
  padding-bottom: 50px;
}

/* Footer */
.head {
  margin: auto;
  text-align: center;
  position: absolute;
  right: 0px;
}
ul > li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  margin: auto 80px auto 80px;
}

ul > li:hover {
  text-decoration: underline;
}
